# Build outputs
/build/

# Python
.venv/
__pycache__/
*.pyc

# Runtime artifacts
game.log
game.pid

# Training artifacts
best_models_dqn/
best_models_ppo/
checkpoints/
logs/
tensorboard_logs/
python/*.so

# macOS
.DS_Store

ppo_stoneforge_model.zip
dqn_stoneforge_model.zip

build/
build_validation/